adblockplus
AlternateServices.txt
addon-notification
AddonInstaller
addons.json
autoproxy
browser-extension-data/
blocklist.xml
blocklist-addons.json
blocklist-gfx.json
blocklist-plugins.json
bookmarkbackups
cert8.db
compatibility.ini
containers.json
content-prefs.sqlite
cookies.sqlite
cookies.sqlite-shm
cookies.sqlite-wal
crashes
datareporting
enumerate_devices.txt
extensions
extensions.ini
extensions.json
experiments.json
features
fftmp
formhistory.sqlite
foxyproxy.xml
gmp
gmp-eme-adobe
gmp-gmpopenh264
gmp-widevinecdm
gm_scripts
key3.db
kinto.sqlite
localstore.rdf
logins.json
mimeTypes.rdf
minidumps
ntab
notificationstore.json
parent.lock
patternSubscriptions.json
permissions.sqlite
places.sqlite
places.sqlite-shm
places.sqlite-wal
pluginreg.dat
prefs.js
revocations.txt
saved-telemetry-pings
search.json.mozlz4
session.rdf
serviceworker.txt
sessionbackups
secmod.db
sessionCheckpoints.json
sessionstore-backups
sessionstore.js
signedInUser.json
SiteSecurityServiceState.txt
storage
storage.sqlite
Telemetry.ShutdownTime.txt
times.json
weave
webapps
webappsstore.sqlite
webappsstore.sqlite-shm
webappsstore.sqlite-wal
xulstore.json
.parentlock
