/*改变火狐外观*/

/*屏蔽Alt切换菜单*/
#toolbar-menubar[autohide="true"] {
    display:none !important;
}

/*一直显示alltabs-button*/
#alltabs-button {
    visibility: visible !important;
}

/*弹出菜单显示标签页序号*/
#main-window > #tab-view-deck > #browser-panel #alltabs-button > #alltabs-popup {
    counter-reset: latabs !important;
}
#main-window > #tab-view-deck > #browser-panel #alltabs-button > #alltabs-popup .menuitem-iconic.alltabs-item.menuitem-with-favicon {
    counter-increment: latabs !important;
}
#main-window > #tab-view-deck > #browser-panel #alltabs-button > #alltabs-popup .menuitem-iconic.alltabs-item.menuitem-with-favicon:before {
    content: counter(latabs) !important;
    min-width: 16px !important;
    display: -moz-box !important;
    font-weight:bold !important;
    margin-left:10px !important;
}

/*————————查找栏置顶——————————*/
.browserContainer > findbar, .findbar-closebutton.close-icon {
    -moz-box-ordinal-group: 0 !important;
}
.browserContainer > findbar {
    margin-top: -1px !important;
    padding-top: 1px !important;
    box-shadow: none !important;
    border-bottom: 1px solid #C1C1C1 !important;
}

/*-------RSS自动隐藏------*/
#feed-button {
    visibility: collapse !important;
}
#feed-button:not([disabled]) {
    visibility: visible !important;
}

/*右键精简*/
/*#context-openlinkintab,*/
#context-openlinkinusercontext-menu, #context-openlink, #context-openlinkprivate, #context-sep-open, #context-bookmarklink, #context-savepage, #context-sep-sendpagetodevice, #context-sendpagetodevice, #context-sendpagetodevice-popup, #context-sep-sendlinktodevice, #context-sendlinktodevice, #context-sendlinktodevice-popup, #context-sep-viewbgimage, #context-sendimage, #context-setDesktopBackground, #context_sendTabToDevice_separator, #context_sendTabToDevice, #context_sendTabToDevicePopupMenu, #context-keywordfield, #appMenuViewHistorySidebar {
    display:none !important;
}
#appMenuViewHistorySidebar, #pageActionSeparator, #pageActionButton {
    display:none !important;
}

/*—————————书签栏自动隐藏—————————*/
#PersonalToolbar {
    width: 100% !important;
    visibility: hidden !important;
    position: fixed !important;
    opacity: 0;
    transition: .2s !important;
}
#navigator-toolbox:hover > #PersonalToolbar {
    visibility: visible !important;
    opacity: 1;
    transition: .3s !important;
    box-shadow:0 2px 6px 0 rgba(0, 0, 0, .6);
    background: #F9F9FA !important;
}
/*.bookmark-item[container] {*/
/*list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAPklEQVR4AWOgGnhzwvM/MfjD+bCbOA34/3wyQQxSN7INGDXg08U4sAFvT3jvJscAkGY4PUgNIIy9EGFALQAADp4ODOUxtpoAAAAASUVORK5CYII=")!important;*/
/*}*/

/*自动隐藏导航栏*/
#main-window[sizemode="normal"] #browser {
    margin-top: -34px !important;
}
#main-window[sizemode="normal"] #nav-bar {
    transition: .2s !important;
    overflow: hidden !important;
    max-height: 0 !important;
    min-height: 0 !important;
}
#main-window[sizemode="normal"] :hover > #nav-bar {
    transition: .3s !important;
    max-height: 36px !important;
}

/*隐藏顶部蓝条*/
#nav-bar {
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
}
@media (-moz-os-version: windows-win7) {
    @media (-moz-windows-default-theme) {
        .tab-background:not(:-moz-lwtheme):not([selected=true]) {
            background-color: rgba(0, 0, 0, .2) !important;
        }
        .tab-line {
            height: 0px !important;
        }
    }
}
:root[tabsintitlebar][sizemode=normal] #toolbar-menubar[autohide=true] ~ #TabsToolbar > .titlebar-placeholder[type="pre-tabs"] {
    width: 1px!important;
}
